.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  
  .scout-header {
    margin: 40px 0;
    z-index: 2;
    color: #CE1126;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    max-width: 950px;
    z-index: 2;

    .req-220px {
      display: none;
    }


    div {
      border-radius: 20px;
      margin: 10px;

      .boy-scouts-logo, .cub-scouts-logo {
        transition: all .2s ease-in-out;
        padding: 25px;
      }
      .boy-scouts-logo:hover, .cub-scouts-logo:hover {
        transform: scale(1.04);
      }
    }
  }

  .background {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    min-height: 625px;

    .top {
      min-height: 625px;
      overflow: hidden;
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: black;
      clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
      transition: all 0.5s linear;

      div {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .divide {
      min-height: 625px;
      overflow: hidden;
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: black;
      clip-path: polygon(59.8% 0%, 60.2% 0%, 40.2% 100%, 39.8% 100%);
      z-index: 1;
      transition: all 0.5s linear;
    }
    .bottom {
      min-height: 625px;
      overflow: hidden;
      position: absolute;
      height: 100vh;
      width: 100vw;
      background: black;
      clip-path: polygon(40% 100%, 60% 0%, 100% 0%, 100% 100%);
      clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
      transition: all 0.5s linear;
      
      div {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .background-fill {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      z-index: 1;
    }
    .background-leave {
      z-index: 0;
    }
    .delay-background-leave {
      z-index: 1;
    }
    .divide-slide-left {
      clip-path: polygon(-1% 0%, 0% 0%, 0% 100%, -1% 100%);
    }
    .divide-slide-right {
      clip-path: polygon(100% 0%, 101% 0%, 101% 100%, 100% 100%);
    }
  }
}

@media (max-width: 219px) {
  .App {
    .container {
      .req-220px {
        display: initial;
      }
    }
    .scout-header, .boy-scouts-logo, .cub-scouts-logo, .background {
      display: none;
    }
  }
}

@media (min-width: 220px) and (max-width: 425px){
  .App {
    .scout-header {
      font-size: 10vw;
    }
    .container {
      width: 100%;
      div {
        width: 100%;
        .boy-scouts-logo, .cub-scouts-logo {
          object-fit: cover;
          width: 100%;
          padding: 10px;
        }
      }
    }
    .background {
      min-height: 921px;
      .top, .divide, .bottom {
        min-height: 921px;
      }
    }
  }
}

@media (min-width: 380px) {
  .App {
    .scout-header {
      font-size: 42px;
    }
    .container {
      div {
        .boy-scouts-logo, .cub-scouts-logo {
          object-fit: cover;
          width: 75%;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 426px){
  .App {
    .scout-header {
      font-size: 42px;
    }
    .container {
      width: 100%;
      flex-direction: row;
      div {
        width: 100%;
        .boy-scouts-logo, .cub-scouts-logo {
          object-fit: cover;
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .App {
    justify-content: center;
    
    .scout-header {
      font-size: 42px;
      margin: 0 0 40px 0;
    }
  }
}